[Unit]
Description=TiddlyWiki Container
After=docker.service
Requires=docker.service

[Install]
WantedBy=multi-user.target

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%N
Environment="TW_PORT=8080"
Environment="TW_DOCKERVOLUME=%N"
Environment="TW_DOCKERUID=0"
Environment="TW_DOCKERGID=0"
Environment="TW_IMAGETAG=latest"
EnvironmentFile=/etc/tiddlywiki/%N.conf
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStartPre=/usr/bin/docker pull nicolaw/tiddlywiki
ExecStart=/usr/bin/docker run -p ${TW_PORT}:${TW_PORT} -e TW_PORT=${TW_PORT} --env-file /etc/tiddlywiki/%N.conf --user ${TW_DOCKERUID}:${TW_DOCKERGID} -v ${TW_DOCKERVOLUME}:/var/lib/tiddlywiki --name %N nicolaw/tiddlywiki:${TW_IMAGETAG}
ExecStop=-/usr/bin/docker stop %N
